*.jar
*.class
/*zip
/lib/
/classes/
target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.classpath
.factorypath
.settings/
.project
.on-save.json
.vscode
.claude
.clojure-mcp

